@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body */
body {
    font-family: 'open sans', sans-serif;
    background: rgb(255, 255, 255);
    color: #333;
    line-height: 1.6;
}

ul {
list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
font-weight: 300;
line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #ffee00 2px solid;
}
.navbar ul {
    display: flex;
}

.navbar .logo {
font-weight:400;
}

/* header */

.hero {
    background: linear-gradient(rgba(255, 255, 255, 0.11), rgba(58, 58, 58, 0.11)), url('../images/home/meeee.jpg') no-repeat center/contain;
    height: 100vh;
    position: relative;
    color: rgb(1, 0, 0);
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 97%;
    font-size: 97%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero.content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1)
}

.hero * {
    z-index: 10;
}
/* about */
.myhistory {
    margin-top: 8rem;
}

/* blog */
.blog-title {
    margin: 8rem 0 2rem;
    text-align: center;
    font-size: 3rem;
}
.column-1 img {
    display: block;
    width: 70%;
    margin: 0 auto;

}

/* work */
.work {
    padding: 30px;
}

.work h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.work i {
    background-color: #c9c61d;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}


/* contact */
/* .contact-page { */
    /* height: 100vh; */
/* } */
.contactme {
    width: 100%;
    padding: 45px 0;
}

.contactme label {
    display: block;
    margin-bottom: 15px;
}

.contactme input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.form-section {
    margin-top: 5rem;
}

.message {
    width: 100%;
    border: none;
    outline-color: #bba943;
}

.message::placeholder {
    font-family: 'open sans', sans-serif;
}

.contactme input:focus {
    outline-color: #bba943;
}
.contactme .btn {
    padding: 12px 0;
    margin-top: 20px;
}

/* Address */
.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

/* post */
.post {
    padding: 50px 30px;
    height: 100vh;
}

.post h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom : #ccc solid 1px;
    margin-top: 5rem;
}

.post .meta {
    margin-bottom: 30px;
}

.post img {
    width: 300px;
    border-radius: 5%;
    display: block;
    margin: 0 auto 30px;
}
.post-Title {
margin: 1rem 0 1rem;
text-align: center;
font-size: 2rem;
}


/* internship section */
.internship-image {
    display: block;
    width: 50%;
    margin: 1rem auto;
}

.internship img:hover {
    opacity: 0.7;
}

.internship-image {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    }
    
    /* work section */
    .work-img {
        display: block;
        width: 50%;
        margin: 1.5rem auto;
        border-radius: 40px;
    }

    @media (min-width:770px) {
        .work-img {
            width: 35%;
        }
    }
    .tshirt {
        margin-top: 6rem;
    }

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 160px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #bba943;

}

.footer .social > * {
    margin-right: 30px;
}

/* for mobile */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }
    
    .flex-items {
        flex-direction: column;
    }
    
    .flex-column .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }
    
    .internship img {
        width: 50%;
    }

    .address {
        margin-top: 7rem;
    }
    }
